# Python
__pycache__/
*.py[cod]
*.pyo

# Python environment
backend/.venv/

# Environment variables
backend/.env
frontend/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary kiosk files
backend/storage/temp/
frontend/storage/temp/