APP_NAME=Kiosk Local Agent
DEBUG=true

HOST=0.0.0.0
PORT=9001

TEMP_DIR=data/temp
DATABASE_PATH=data/kiosk.db

MAX_FILE_SIZE_MB=25
SESSION_TTL_MINUTES=10

LOCAL_PUBLIC_BASE_URL=http://192.168.0.117:9001

HOTSPOT_MODE=manual
HOTSPOT_SSID=KIOSK-PRINT
HOTSPOT_PASSWORD=KioskPrint123

FRONTEND_ORIGIN=http://localhost:5173